.Table-logo{
  min-width: 3em;
  text-align: center;
}

.Table-logo img {
  width: 1.4em;
}

  
ul.pagination {
    display: inline-block;
    padding-right: 15px;
}

ul.pagination li {
    display: inline-block;
}

ul.pagination li:not(.disabled) {
    cursor: pointer;
}

.nav-item .active {
  font-weight: bold;
}

.nav-item {
  font-size:1.2em;
}